{{>layout/header}}<!-- 현재 머스테치 파일을 기준으로 다른 파일을 가져온다. -->
<h1>Springboot-Gradle-Aws Service</h1>
<div class="col-md-12">
    <div class="row">
        <div class="col-md-6">
            <a href="/posts/save" role="button" class="btn btn-primary">게시글 등록</a>
            {{#userName}}
                <span id="user">{{userName}}</span>
                <!-- 스프링 시큐리티에서 기본적으로 제공하는 로그아웃 url, 별도 컨트롤러를 만들 필요가 없다. -->
                <a href="/logout" class="btn btn-info active" role="button">로그아웃</a>
            {{/userName}}
            {{^userName}}
                <!-- 스프링 시큐리티에서 기본적으로 제공하는 로그인 url, 별도 컨트롤러를 만들 필요가 없다. -->
                <a href="/oauth2/authorization/google" class="btn btn-success active" role="button">구글 로그인</a>
            {{/userName}}
        </div>
    </div>

    <br>

    <table class="table table-horizontal table-bordered">
        <thead class="thead-strong">
        <tr>
            <th>게시글번호</th>
            <th>제목</th>
            <th>작성자</th>
            <th>최종수정일</th>
        </tr>
        </thead>
        <tbody id="tbody">
            {{#posts}} <!-- posts List를 순회, for문과 동일한 기능 -->
                <tr>
                    <td>{{id}}</td> <!-- List 객체에서 id 필드 값 -->
                    <td><a href="/posts/update/{{id}}">{{title}}</a></td>
                    <td>{{author}}</td>
                    <td>{{modifiedDate}}</td>
                </tr>
            {{/posts}}
        </tbody>
    </table>
</div>
{{>layout/footer}}